<?xml version="1.0" encoding="utf-8" ?>
<ModConfigSection>

    <Plugins>
        <Plugin File="ModConfig.dll" />
        <Plugin File="Pipes.dll" />
    </Plugins>

    <Modules>
        <Module Type="Pipes.Modules.Input`1[[Pipes.Interfaces.IMessage]]"/>
        <Module Type="Valve`1[[IMessage]]">
            <Modules>
                <Module Property="Pipe" Type="Pipes.Modules.Pipe`1[[Pipes.Interfaces.IMessage]]"/>
            </Modules>
        </Module>
        <Module Type="Pipes.Modules.Output`1[[Pipes.Interfaces.IMessage]]"/>
    </Modules>

</ModConfigSection>
